<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title><%= title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <!--<style src="https://cdn.tailwindcss.com/"></style>-->
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-3">
        <%- include('header.ejs') %>
        <h4 class="py-2">Login to your account</h4>
        <form id="signup" action="/session" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="py-2">
            <label for="email">Email:</label><br />
            <input
              type="email"
              id="email"
              name="email"
              class="border border-gray-300 text-gray-900 rounded text-sm"
              required
            />
          </div>
          <div class="py-2">
            <label for="password">Password:</label><br />
            <input
              type="password"
              id="password"
              name="password"
              class="border border-gray-300 text-gray-900 rounded text-sm"
              required
            />
          </div>
          <div class="py-2">
            <button
              type="submit"
              class="text-white bg-green-500 hover:bg-green-800 text-size:medium rounded px-5 py-2"
            >
              Sign in
            </button>
          </div>
        </form>
        
        <% if(messages && messages.error && messages.error.length > 0)  { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
                  <li> <%= messages.error[i] %></li>
          <% } %>
        <% } %>
      </div>
    </div>
  </body>
</html>
