<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="csrf-token" content="<%= csrfToken %>" />
  
  <title>To-Do Manager</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
  <!--<style src="https://cdn.tailwindcss.com/"></style>-->
  <link rel="stylesheet" href="./css/styles.css" />
  <script>
    var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
    async function updateTodo(id) {
      var  token =document.querySelector('meta[name="csrf-token"]').getAttribute("content");
      
      await fetch(`/todos/${id}`, {
          method: "put",
          headers: { "content-type": "application/json" },
          body: JSON.stringify({
            "_csrf": token
          })
        })
       
        .then((res) => {
          if (res.ok) {
            window.location.reload();
          }
        })
        .catch((err) => console.error(err));
        setTimeout(() => {
          window.location.reload();
        }, 1000);
    
      }
        
    
    async function deleteTodo(id) {
        await fetch(`/todos/${id}`, {
          method: "delete",
          headers: { "content-type": "application/json" },
          body: JSON.stringify({
            "_csrf": token
          })
        })
    
        .then((res) => {
          if (res.ok) {
            window.location.reload();
          }
        })
        .catch((err) => console.error(err));
        setTimeout(() => {
          window.location.reload();
        }, 10);
    
      }
  </script>

</head>
<body>
  <div class="grid grid-cols-6">
    <div class="col-start-3 col-span-2">
      <%- include('header.ejs') %>
      <a href="/signout">signout</a>
        <form action="/todos" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="flex gap-2 py-4">
            <div class="flex-auto">
              <input type="text" name="title" placeholder="what's next?"
                class="border border-gray-300 rounded text-gray-900 w-full text-sm p-2" required />
            </div>
            <div class="flex-auto">
              <input type="date" name="dueDate" class="border border-gray-300 text-gray-900 rounded w-full leading-5 text-sm p-2" required />
            </div>
            <div class="flex-none">
              <button type="submit" class="bg-green-500 text-white px-5 py-1.5 font-medium mr-2 mb-2 rounded">
                Add
              </button>
            </div>
          </div>
        </form>
        <div>
            <%- include('todo.ejs', { title: "Overdue" , Due: overdueTodos, id: "count-overdue" }) %>
            <%- include('todo.ejs', { title: "Due Today" , Due: dueTodayTodos, id: "count-due-today" }) %>
            <%- include('todo.ejs', { title: "Due Later" , Due: dueLaterTodos, id: "count-due-later" }) %>
            <%- include('todo.ejs', { title: "Completed Items" , Due: completed, id: "count-completed" }) %>
        </div>
    </div>
  </div>
</body>
</html>